@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f3f4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

header {
    display: flex;
    flex-wrap: nowrap;
}

header > .header_logo {
    background-color: #448AFF;
    padding: 0 20px;
}

header h2 {
    color: #fff;
    margin: 10px 0;
}

header ul {
	width:100%;
	height: 100%;
    margin: 0;
    padding: 0;
	display: flex;
}

header ul > li {
    margin: 0;
	font-size: 16px;
	display: flex;
	align-items: center;
}

header ul > li > a {
    color: #000;
    text-decoration: none;
    padding: 0 20px;
}

header ul > li > a:hover {
    color: #448AFF
}

h1 {
    text-align: center;
}

.worldcup_container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /*border: 1px solid black;*/
}

.worldcup_box {
    width: 300px;
    height: 100%;
    margin: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #e7eaec;
    overflow: hidden;
    background-color: #fff;
}

.worldcup_box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.worldcup_content {
    height: 200px;
}

.worldcup_content h4 {
    font-size: 12px;
    color:  #676a6c
}

.worldcup_sample {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left_sample {
    float: left;
}

.right_sample {
    float: right;
}

.worldcup_sample div {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.worldcup_sample h4 {
    text-align: center;
    margin: 0 auto;
}

.worldcup_info {
    text-align: left;
    margin: 0 10px;
}

.worldcup_info a {
    text-decoration: none;
    color: #000000;
}

.worldcup_info h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.worldcup_info h5 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 10px;
    color: #676a6c;
}

.buttons {
    text-align: center;
    margin: 10px 0 15px 0;
}

.buttons a {
    margin: 5px 5px;
    padding: 5px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 12px;
}

.buttons a.btn-red {
    color: #F44336;
    border: 1px solid #F44336;
}

.buttons a.btn-red:hover {
    background-color: #F44336;
    color: #fff;
}

.buttons a.btn-yellow {
    color: #FFC107;
    border: 1px solid #FFC107;
}

.buttons a.btn-yellow:hover {
    background-color: #FFC107;
    color: #fff;
}

.buttons a.btn-blue {
    color: #03A9F4;
    border: 1px solid #03A9F4;
}

.buttons a.btn-blue:hover {
    background-color: #03A9F4;
    color: #fff;
}

.buttons i {
    margin-right: 3px;
}