@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

header {
    display: flex;
    flex-wrap: nowrap;
}

header > .header_logo {
    background-color: #448AFF;
    padding: 0 20px;
}

header h2 {
    color: #fff;
    margin: 10px 0;
}

header ul {
	width:100%;
	height: 100%;
    margin: 0;
    padding: 0;
	display: flex;
}

header ul > li {
    margin: 0;
	font-size: 16px;
	display: flex;
	align-items: center;
}

header ul > li > a {
    color: #000;
    text-decoration: none;
    padding: 0 20px;
}