html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.worldcup_container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.worldcup_box {
    width: 300px;
    height: 100%;
    border: 1px solid red;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.worldcup_content {
    height: 200px;
}

.worldcup_sample {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left_sample {
    float: left;
}

.right_sample {
    float: right;
}

.worldcup_sample div {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.worldcup_sample h4 {
    text-align: center;
    margin: 0 auto;
}

.worldcup_info {
    margin-top: 16px;
}

.worldcup_info h4, h5 {
    text-align: center;
    margin: 0;
}